{% extends "base.html" %}
{% load static %}

{% block title %}
  Sport's Shoes
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "store/sports.css" %}">
{% endblock %}

{% block content %}
  <h1>Sports</h1>
  <hr>

  <section>
    <ul>
      {% for model in article_model %}
          <li>
            <article id="article">
              <a href="{% url "sportsdetail" model.id %}">
              <img src="{{ model.image.url }}" alt="{{ model.name }}">
              <div>
                <h3>{{ model.name }}</h3>
                <p>{{ model.price }}$</p>
              </div>
              </a>
            </article>
          </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}